.Origin-Black {
    color: var(--origin-black) !important;
}

.Origin-DarkGray {
    color: var(--origin-darkgrey) !important;
}

.Origin-MidGray {
    color: var(--origin-midgrey) !important;
}

.Origin-Gray {
    color: var(--origin-grey) !important;
}

.Origin-LightGray {
    color: var(--origin-lightgrey) !important;
}

.Origin-White {
    color: var(--origin-white) !important;
}


.Primary-Raleway_Big {
    color: var(--origin-white);
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.Primary-Raleway_Medium {
    color: var(--origin-white);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 24px;
}

.Primary-Raleway_Body {
    color: var(--origin-white);
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
}

.Primary-Raleway_Small {
    color: var(--origin-white);
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 12px;
}

.left-background {
    width: 91vw;
    height: 142vh;
    left: -30vw;
    top: 0px;
    position: absolute;
}

.left-eclipse-login {
    width: 657px;
    height: 904px;
    left: 50vw;
    top: 200px;
    position: absolute;
    transform: rotate(42deg);
    transform-origin: 0 0;
    background: var(--primary-blue);
    border-radius: 50%;
}

.left-rectangle-login {
    width: 75vw;
    height: 1024px;
    left: 0px;
    top: 0px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.left-rectangle-login img {
    width: auto;
    height: 100vh;
    left: 5vw;
    top: -20px;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.right-eclipse-login {
    width: 382.3px;
    height: 672.3px;
    right: 10px;
    top: -150px;
    position: absolute;
    transform: rotate(-42deg);
    transform-origin: 0 0;
    background: #59d5e0;
    border-radius: 50%;
}

.login-form {
    height: 569px;
    width: fit-content;
    left: 63vw;
    top: 15vh;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    display: inline-flex;
    /* background: #ccf2f6; */
}

.title-login {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    display: flex;
}

.text-center a.Primary-Raleway_Body {
    color: var(--primary-blue) !important;
    font-weight: 800 !important;
    word-wrap: break-word !important;
}

.login-field {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /* gap: 25px; */
    display: flex;
    margin-bottom: 25px;
}

.form-outline {
    margin-bottom: 10px;
}

.input-form {
    width: 20vw !important;
    height: 7vh !important;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25) !important;
    border-color: var(--origin-grey) !important;
}

.input-form:focus {
    border-color: var(--primary-blue) !important;
}

.footer-login {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* gap: 22px; */
    display: flex;
}

.button-login {
    color: var(--origin-white);
    width: 10vw;
    min-width: fit-content;
    border: none;
    height: 54px;
    background: #59d5e0;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    margin-bottom: 22px;
}

.subtext-login {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--origin-grey);
    padding-top: 5px;
}

.other-login {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    display: inline-flex;
}

.socialButton {
    width: 32px;
    height: 32px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    overflow: hidden;
    border: 1px #59d5e0 solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.right-eclipse1-register {
    width: 585px;
    height: 710px;
    left: 25vw;
    top: 235px;
    position: absolute;
    transform: rotate(42deg);
    transform-origin: 0 0;
    background: var(--primary-blue);
    border-radius: 50%;
}

.right-rectangle-register {
    width: 75vw;
    height: 1024px;
    left: 0px;
    top: 0px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.right-rectangle-register img {
    width: auto;
    height: 100vh;
    left: -20vw;
    top: -20px;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.right-eclipse2-register {
    width: 382.3px;
    height: 672.3px;
    right: 235px;
    top: -475px;
    position: absolute;
    transform: rotate(42deg);
    transform-origin: 0 0;
    background: #59d5e0;
    border-radius: 50%;
}

.right-background {
    width: 80vw;
    height: 142vh;
    right: -30vw;
    top: 0px;
    position: absolute;
}

.register-form {
    height: 569px;
    width: fit-content;
    left: 10vw;
    top: 15vh;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    display: inline-flex;
}

.w-13vw {
    width: 13vw !important;
}

.error-message {
    color: var(--primary-lightred)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.confirm-button-class {
    color: var(--origin-white);
    min-width: fit-content;
    border: none;
    background: var(--primary-blue) !important;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px !important;
}

.cancel-button-class {
    font-family: var(--primary-raleway-medium-font-family) !important;
    font-weight: var(--primary-raleway-medium-font-weight) !important;
    color: #000000 !important;
    font-size: var(--primary-raleway-body-font-size) !important;
    text-align: center;
    letter-spacing: var(--primary-raleway-medium-letter-spacing) !important;
    line-height: var(--primary-raleway-medium-line-height) !important;
    white-space: nowrap !important;
    font-style: var(--primary-raleway-medium-font-style) !important;
    background: none !important;
}

.title-alert-class {
    font-family: var(--primary-raleway-medium-font-family) !important;
    font-weight: var(--primary-raleway-medium-font-weight) !important;
    color: #000000 !important;
    font-size: var(--primary-raleway-medium-font-size) !important;
    text-align: center;
    letter-spacing: var(--primary-raleway-medium-letter-spacing) !important;
    line-height: var(--primary-raleway-medium-line-height) !important;
    white-space: nowrap !important;
    font-style: var(--primary-raleway-medium-font-style) !important;
}

.input-alert-class {
    width: 260px;
    height: 39px;
    top: 0;
    left: 0;
    background-color: var(--origin-white);
    border-radius: 7px;
    border: 1px solid;
    border-color: var(--origin-grey);
    box-shadow: var(--shadow-textfield);
    padding-bottom: 10px;
}

div:where(.swal2-container) .swal2-html-container {
    padding: 10px !important;
}

.swal2-validation-message {
    font-family: var(--primary-raleway-body-font-family) !important;
    font-weight: var(--primary-raleway-body-font-weight) !important;
    color: #000000 !important;
    font-size: var(--primary-raleway-body-font-size) !important;
    text-align: center;
    letter-spacing: var(--primary-raleway-body-letter-spacing) !important;
    line-height: var(--primary-raleway-body-line-height) !important;
    white-space: nowrap !important;
    font-style: var(--primary-raleway-body-font-style) !important;
}

.my-validation-message {
    white-space: pre-line !important;
    padding: 5px !important;
}

.my-toast {
    font-family: var(--primary-raleway-body-font-family);
    font-weight: var(--primary-raleway-body-font-weight);
    font-size: var(--primary-raleway-body-font-size);
    letter-spacing: var(--primary-raleway-body-letter-spacing);
    line-height: var(--primary-raleway-body-line-height);
    white-space: nowrap;
    border-radius: 10px;
}

.info-toast {
    background-color: var(--primary-blue);
}

.error-toast {
    background-color: var(--primary-lightred);
}

.error-message {
    font-family: var(--primary-raleway-small-font-family);
    font-weight: var(--primary-raleway-small-font-weight);
    font-size: var(--primary-raleway-small-font-size);
    letter-spacing: var(--primary-raleway-small-letter-spacing);
    line-height: var(--primary-raleway-small-line-height);
    white-space: nowrap;
    color: var(--primary-lightred);
    font-weight: 500;
}


.swal2-select {
    height: 50px;
    background-color: var(--origin-white);
    border-radius: 7px;
    border: 1px solid;
    border-color: var(--origin-grey);
    box-shadow: var(--shadow-textfield);
    padding-bottom: 10px;
    margin-bottom: 10px;

    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Add custom arrow */
    background-image: url('../img/icon/Group.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 95% 50% !important;
    background-size: 14px !important;
}

.swal2-select:focus {
    background-image: url('../img/icon/Group-focus.svg') !important;
    border-color: var(--primary-blue);
    box-shadow: var(--shadow-textfield);
    outline: none !important;
}

.swal2-actions {
    margin-top: 0.5rem;
}


.input-number-form {
    width: 80%;
    top: 0;
    left: 0;
    background-color: var(--origin-white);
    border-radius: 7px;
    border: 1px solid;
    border-color: var(--origin-grey);
    box-shadow: var(--shadow-textfield);
    padding-bottom: 10px;
}

.input-number-form:focus, .input-alert-class:focus {
    border: 2px solid;
    border-color: var(--primary-blue);
    box-shadow: var(--shadow-textfield);
    outline: none;
}

/*new css */
a,
button,
input,
select, h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    appearance: none;
    background: none;

    -webkit-font-smoothing: antialiased;
}

.view,
.view * {
    box-sizing: border-box;
}

.view {
    background: #ffffff;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.header {
    background: var(--origin-white);
    border-style: solid;
    border-color: var(--origin-lightgrey);
    border-width: 0px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    gap: 311px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    top: 0px;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: var(--shadow-todo);
    transform: translateY(0);
    transition: all 0.9s ease;
}

.ellipse-1 {
    border-radius: 50%;
    align-self: stretch;
    flex-shrink: 0;
    width: 150px;
    height: auto;
    position: relative;
    margin: 10px 0;
}
.ellipse-1 img{
    width: 100%;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.header-menu {
    cursor: pointer;
    padding: 8px 15px 8px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.header-menu:hover {
    background: var(--origin-lightgrey);
}

.header-title {
    color: var(--origin-black);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: 1.5vw;
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    flex: 1;
}

.header-menu-active {
    background: var(--primary-blue);
}

.title-active {
    color: var(--origin-lightgrey);
}

.account {
    color: var(--origin-black);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    flex: 1;
}

.course-field {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 47.99%;
    position: absolute;
    right: 43.61%;
    left: 8.4%;
    bottom: 26px;
    top: 203px;
    overflow-y: auto;
}

.course {
    background: var(--origin-lightgrey);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(
            --shadow-textfield
    );
}

.frame-34 {
    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.rectangle-72 {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    position: relative;
    overflow: visible;
}

.course-name {
    color: var(--origin-black);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size, 24px);
    font-weight: var(--primary-raleway-medium-font-weight, 700);
    position: relative;
    flex: 1;
}

.course-active {
    background: var(--primary-blue);
    border-radius: 12px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(
            --shadow-textfield
    );
}

.frame-35 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.rectangle-722 {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    position: relative;
}

.rectangle-71 {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    overflow: visible;
}

.task-iconamoon-check {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 1.19%;
    top: -1.19%;
    overflow: visible;
}

.course-name-active {
    color: var(--origin-white);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    flex: 1;
}

.frame-32 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 27.36%;
    position: absolute;
    right: 64.31%;
    left: 8.33%;
    top: 123px;
}

.main-title {
    color: var(--origin-black);
    text-align: center;
    font-family: var(--primary-raleway-medium-font-family);
    font-size: 42px;
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    flex: 1;
}

.noti-field {
    padding: 30px 25px 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 34.03%;
    position: absolute;
    right: 8.26%;
    left: 57.71%;
    bottom: 26px;
    top: 203px;
    overflow-y: auto;
}

.notify {
    background: var(--primary-yellow);
    border-radius: 15px;
    padding: 17px 14px 17px 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(
            --shadow-textfield
    );
    overflow: hidden;
}

.noti-title {
    color: var(--origin-black);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    align-self: stretch;
}

.noti-content {
    color: var(--origin-black);
    text-align: left;
    font-family: var(
            --primary-raleway-body-font-family
    );
    font-size: var(--primary-raleway-body-font-size);
    font-weight: var(--primary-raleway-body-font-weight);
    position: relative;
    align-self: stretch;
}

.notify2 {
    background: var(--primary-blue);
    border-radius: 15px;
    padding: 17px 14px 17px 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(
            --shadow-textfield
    );
    overflow: hidden;
}

.notify3 {
    background: var(--primary-lightred);
    border-radius: 15px;
    padding: 17px 14px 17px 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(
            --shadow-textfield
    );
    overflow: hidden;
}

.frame-6 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 13.06%;
    position: absolute;
    right: 44.72%;
    left: 42.22%;
    top: 137px;
}

.option-select {
    color: var(--origin-black);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);;
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    flex: 1;
}

.icon-park-outline-drop-down-list {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}

.group {
    width: 66.67%;
    height: 25%;
    position: absolute;
    right: 16.67%;
    left: 16.67%;
    bottom: 16.67%;
    top: 58.33%;
    overflow: visible;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    left: -10px;
    display: none;
    position: absolute;
}

.dropdown-content .type-suggest {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: var(--origin-midgrey);
    text-align: center;
    font-family: var(--primary-raleway-medium-font-family);
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);

}

.dropdown-content .type-suggest:hover {
    width: 100%;
    background-color: var(--origin-lightgrey);
}

.dropdown:hover .dropdown-content {
    min-width: 160px;
    z-index: 1;
    background: var(--origin-white);
    border-radius: 0px 0px 10px 10px;
    padding: 12px 5px 12px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 193px;
    position: relative;
    box-shadow: var(
            --shadow-textfield
    );
}

.option-select {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.icon-park-outline-drop-down-list {
    flex-shrink: 0;
}

.study-dropdown {
    position: absolute;
    right: 165px;
    top: 55px;
    z-index: 1;
    display: none;
}

.user-dropdown {
    position: absolute;
    right: -5px;
    top: 55px;
    z-index: 1;
    display: none;
}

.popup-menu {
    background: var(--origin-white);
    border-radius: 0px 0px 10px 10px;
    padding: 12px 5px 12px 5px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: var(
            --shadow-textfield
    );
}

.account-pop-up {
    background: var(--origin-white);
    border-radius: 0px 0px 10px 10px;
    padding: 12px 5px 12px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: var(
            --shadow-textfield
    );
}

.popup-menu div, .user-feature div, .popup-calendar-content div {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.popup-menu div:hover, .user-feature div:hover, .popup-calendar-content div:hover {
    background-color: var(--origin-lightgrey);
}
.date-select:hover + .calendar-dropdown,
.calendar-dropdown:hover {
    display: block;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.study-menu:hover + .study-dropdown,
.study-dropdown:hover {
    display: block;
}

.child-menu {
    cursor: pointer;
    color: var(--origin-black);
    text-align: center;
    font-family: var(--primary-raleway-body-font-family);
    font-size: var(--primary-raleway-body-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
}


.welcome-tag {
    border-style: solid;
    border-color: var(--origin-grey);
    border-width: 0px 0px 1px 0px;
    align-self: stretch;
    flex-shrink: 0;
    height: 67px;
    position: relative;
}

.username {
    padding: 10px 5px 10px 5px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38px;
    position: absolute;
    right: 0%;
    left: 0%;
    top: 27px;
}

.username2 {
    color: var(--origin-black);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: 100%;
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    flex: 1;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
}

.solar-user-broken {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}

.welcome-title {
    color: var(--origin-black);
    text-align: left;
    font-family: var(
            --primary-raleway-body-font-family
    );
    font-size: var(--primary-raleway-body-font-size);
    font-weight: var(--primary-raleway-body-font-weight);
    position: relative;
}

.user-menu:hover + .user-dropdown,
.user-dropdown:hover {
    display: block;
}

.grop-user {
    width: 66.67%;
    height: 83.33%;
    position: absolute;
    right: 16.67%;
    left: 16.67%;
    bottom: 8.33%;
    top: 8.33%;
    overflow: visible;
}

.child-menu a {
    color: var(--origin-black);
}

.header-menu-active:hover, .title-active:hover {
    background-color: var(--primary-blue);
}

.header-menu-active:hover .header-title, .title-active:hover .header-title {
    color: var(--origin-white);
}

.notify-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.not-linked {
    color: var(--origin-black);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size, 24px);
    font-weight: var(--primary-raleway-medium-font-weight, 700);
    position: relative;
    flex: 1;
}

/* Course Schedule CSS*/
.calendar-dropdown {
    position: absolute;
    right: 55px;
    top: 42px;
    z-index: 1;
    display: none;
    padding-top: 20px;
}

.popup-calendar {
    background: var(--origin-white);
    border-radius: 0px 0px 10px 10px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: var(--shadow-textfield);
    max-height: 300px;
}

.popup-calendar-content {
    overflow-y: auto;
    border-radius: 0px 0px 10px 10px;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    width: 83.89%;
    height: 5.47%;
    position: absolute;
    right: 8.06%;
    left: 8.06%;
    bottom: 84.67%;
    top: 9.86%;
}
.header-schedule {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
}
.schedule-main-title {
    color: var(--origin-black);
    text-align: left;
    font-family: var(
            --primary-raleway-big-font-family
    );
    font-size: var(--primary-raleway-big-font-size);
    font-weight: var(--primary-raleway-big-font-weight);
    position: relative;
    flex: 1;
    z-index: 1;
}
.date-select {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    width: 485px;
    position: relative;
}
.week-details {
    color: var(--origin-black);
    text-align: right;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icon-park-outline-drop-down-list {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}
.schedule-group {
    width: 66.67%;
    height: 25%;
    position: absolute;
    right: 16.67%;
    left: 16.67%;
    bottom: 16.67%;
    top: 58.33%;
    overflow: visible;
}
.schedule {
    display: flex;
    flex-direction: row;
    gap: 38px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 99.34%;
    height: 1469.64%;
    position: absolute;
    right: 0.33%;
    left: 0.33%;
    bottom: -1507.14%;
    top: 137.5%;
}
.course-schedule {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 88.18%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 11.82%;
    bottom: 0%;
    top: 0%;
}
.board {
    flex-shrink: 0;
    width: 100%;
    height: 88.82%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 11.18%;
}
.board-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
}
.rectangle-52 {
    background: var(--origin-lightgrey);
    width: 0.1%;
    height: 100%;
    position: absolute;
    right: 86.04%;
    left: 13.86%;
    bottom: 0%;
    top: 0%;
}
.rectangle-59 {
    background: var(--origin-lightgrey);
    width: 0.1%;
    height: 100%;
    position: absolute;
    right: 71.6%;
    left: 28.3%;
    bottom: 0%;
    top: 0%;
}
.rectangle-60 {
    background: var(--origin-lightgrey);
    width: 0.1%;
    height: 100%;
    position: absolute;
    right: 57.17%;
    left: 42.73%;
    bottom: 0%;
    top: 0%;
}
.rectangle-61 {
    background: var(--origin-lightgrey);
    width: 0.1%;
    height: 100%;
    position: absolute;
    right: 42.73%;
    left: 57.17%;
    bottom: 0%;
    top: 0%;
}
.rectangle-62 {
    background: var(--origin-lightgrey);
    width: 0.1%;
    height: 100%;
    position: absolute;
    right: 28.29%;
    left: 71.6%;
    bottom: 0%;
    top: 0%;
}
.rectangle-63 {
    background: var(--origin-lightgrey);
    width: 0.1%;
    height: 100%;
    position: absolute;
    right: 13.86%;
    left: 86.04%;
    bottom: 0%;
    top: 0%;
}
.rectangle-64 {
    background: var(--origin-lightgrey);
    width: 100%;
    height: 0.14%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 74.97%;
    top: 24.9%;
}
.rectangle-65 {
    background: var(--origin-lightgrey);
    width: 100%;
    height: 0.14%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 49.93%;
    top: 49.93%;
}
.rectangle-66 {
    background: var(--origin-lightgrey);
    width: 100%;
    height: 0.14%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 24.9%;
    top: 74.97%;
}
.frame-36 {
    width: 9.45%;
    height: 13.68%;
    position: absolute;
    right: 88.93%;
    left: 1.62%;
    bottom: 82.22%;
    top: 4.1%;
    overflow: hidden;
}
.week-subject {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 99.14%;
    height: 98.5%;
    position: absolute;
    right: 0.34%;
    left: 0.52%;
    bottom: 0.82%;
    top: 0.68%;
}
.monday-subject {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 12.98%;
    height: 100%;
    position: absolute;
    right: 87.02%;
    left: 0%;
    bottom: 0%;
    top: 0%;
}

.subject-details {
    color: var(--origin-lightgrey);
    text-align: left;
    font-family: var(
            --primary-raleway-small-font-family
    );
    font-size: var(--primary-raleway-small-font-size);
    font-weight: var(--primary-raleway-small-font-weight);
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.tuesday-subject {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 12.98%;
    height: 100%;
    position: absolute;
    right: 72.52%;
    left: 14.5%;
    bottom: 0%;
    top: 0%;
}
.wednessday-subject {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 12.98%;
    height: 100%;
    position: absolute;
    right: 58.01%;
    left: 29.01%;
    bottom: 0%;
    top: 0%;
}
.thursday-subject {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 12.98%;
    height: 100%;
    position: absolute;
    right: 43.51%;
    left: 43.51%;
    bottom: 0%;
    top: 0%;
}
.friday-subject {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 12.98%;
    height: 100%;
    position: absolute;
    right: 29.01%;
    left: 58.01%;
    bottom: 0%;
    top: 0%;
}
.saturday-subject {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 12.98%;
    height: 99.58%;
    position: absolute;
    right: 14.5%;
    left: 72.52%;
    bottom: 0.42%;
    top: 0%;
}
.theory {
    background: var(--primary-blue);
}
.subject{
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
    box-shadow: var(--shadow-todo);
}
.subject-disable {
    mix-blend-mode: darken;
    opacity: 0.30000001192092896;
}
.practice {
    background: var(--primary-lightred);
}
.sunday-subject {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 12.98%;
    height: 99.58%;
    position: absolute;
    right: 0%;
    left: 87.02%;
    bottom: 0.42%;
    top: 0%;
}
.week {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    height: 7.53%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 92.47%;
    top: 0%;
}
.todo-date-unit {
    background: var(--origin-white);
    flex: 1;
    height: 62px;
    position: relative;
    overflow: hidden;
}
.day {
    color: var(--origin-midgrey);
    text-align: center;
    font-family: var(
            --primary-raleway-body-font-family
    );
    font-size: var(--primary-raleway-body-font-size);
    font-weight: var(--primary-raleway-body-font-weight);
    position: absolute;
    right: 0px;
    left: 0px;
    top: calc(50% - 28px);
}
.day-disable {
    color: var(--origin-lightgrey);
    text-align: center;
    font-family: var(
            --primary-raleway-body-font-family
    );
    font-size: var(--primary-raleway-body-font-size);
    font-weight: var(--primary-raleway-body-font-weight);
    position: absolute;
    right: 0px;
    left: 0px;
    top: calc(50% - 28px);
}
.date-bottom-line {
    height: 2px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.date-bottom-line-active {
    background: var(--primary-blue);
}
.date-bottom-line-normal {
    background: var(--origin-grey);
}
.date{
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: absolute;
    right: 0px;
    left: 0px;
    top: calc(50% - 6px);
}
.date-active {
    color: var(--primary-blue);
}
.date-disable {
    color: var(--origin-lightgrey);
}
.date-coming {
    color: var(--origin-midgrey);
}
.timeline-course {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 7.47%;
    height: 89.19%;
    position: absolute;
    right: 92.53%;
    left: 0%;
    bottom: 0%;
    top: 10.81%;
}
.timeline {
    background: var(--primary-yellow);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 24.8%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 75.2%;
    box-shadow: var(--shadow-todo);
}
.timeline2 {
    background: var(--primary-yellow);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 24.8%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 75.2%;
    top: 0%;
    box-shadow: var(--shadow-todo);
}
.slot {
    color: var(--origin-black);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline3 {
    background: var(--primary-yellow);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 24.8%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 50.14%;
    top: 25.07%;
    box-shadow: var(--shadow-todo);
}
.timeline4 {
    background: var(--primary-yellow);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 24.8%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 25.07%;
    top: 50.14%;
    box-shadow: var(--shadow-todo);
}
.active{
    background-color: var(--primary-blue);
}
.not-study{
    visibility: hidden;
}
/* End Course Schedule CSS*/
/* View Score Css*/
.score-title {
    color: var(--origin-black);
    text-align: left;
    font-family: var(
            --primary-raleway-big-font-family
    );
    font-size: var(--primary-raleway-big-font-size);
    font-weight: var(--primary-raleway-big-font-weight);
    position: absolute;
    left: 69px;
    top: 122px;
}
.grade-board {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 86.04%;
    position: absolute;
    right: 5.62%;
    left: 8.33%;
    top: 209px;
    bottom: 10px;
    overflow-y: auto;
}
.semester {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1239px;
    position: relative;
}
.table-title {
    background: var(--primary-blue);
    border-radius: 7px 7px 0px 0px;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    gap: 34px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.course-id-header {
    white-space: nowrap;
    color: var(--origin-lightgrey);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
}
.course-name-header {
    white-space: nowrap;
    color: var(--origin-lightgrey);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    width: 382px;
}
.credit-header {
    white-space: nowrap;
    color: var(--origin-lightgrey);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
}
.test-score-header {
    white-space: nowrap;
    color: var(--origin-lightgrey);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
}
.fin10-header {
    white-space: nowrap;
    color: var(--origin-lightgrey);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
}
.fin4-header {
    white-space: nowrap;
    color: var(--origin-lightgrey);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
}
.result-header {
    white-space: nowrap;
    color: var(--origin-lightgrey);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
}
.frame-21 {
    background: var(--primary-yellow);
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 54px;
    position: relative;
}
.semester-title {
    color: var(--origin-black);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
}
.score-detail {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.course-score {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.course-id-text {
    border-style: solid;
    border-color: var(--origin-lightgrey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 106px;
    position: relative;
    align-self: stretch;
}
.col-text {
    color: var(--origin-darkgrey);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
}
.course-name-text {
    border-style: solid;
    border-color: var(--origin-lightgrey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 416px;
    position: relative;
    align-self: stretch;
}
.credit-text {
    border-style: solid;
    border-color: var(--origin-lightgrey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 139px;
    position: relative;
    align-self: stretch;
}

.test-score-text {
    border-style: solid;
    border-color: var(--origin-lightgrey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 130px;
    position: relative;
    align-self: stretch;
}
.fin10-text {
    border-style: solid;
    border-color: var(--origin-lightgrey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 172px;
    position: relative;
    align-self: stretch;
}
.fin4-text {
    border-style: solid;
    border-color: var(--origin-lightgrey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 159px;
    position: relative;
    align-self: stretch;
}
.res-text {
    border-style: solid;
    border-color: var(--origin-lightgrey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 117px;
    position: relative;
    align-self: stretch;
}
.semester-detail {
    background: var(--origin-lightgrey);
    border-radius: 0px 0px 12px 12px;
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.cumulative-score {
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.semester-subtext {
    color: var(--origin-darkgrey);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    align-self: stretch;
}
.overall-score {
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    /*width: fit-content;*/
    position: relative;
}
.semester-subtext-normal {
    color: var(--origin-darkgrey);
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
}
.semester-subtext-predict {
    color: var(--primary-lightred);
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
}

.button-reload {
    background: var(--primary-blue);
    border-radius: 7px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 98px;
    top: 131px;
    box-shadow: var(--shadow-todo);
}
.uiw-reload {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}
.reload-text-button {
    color: var(--origin-white);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
}
/* End View Score Css*/
/* View Test CSS*/
.test-title {
    color: var(--origin-black);
    text-align: left;
    font-family: var(
            --primary-raleway-big-font-family
    );
    font-size: var(--primary-raleway-big-font-size);
    font-weight: var(--primary-raleway-big-font-weight);
    position: absolute;
    left: 128px;
    top: 121px;
}
.test-schedule {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 84.65%;
    position: absolute;
    right: 6.46%;
    left: 8.89%;
    top: 227px;
}
.test-header {
    background: var(--primary-blue);
    border-radius: 12px 12px 0px 0px;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.test-course {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: auto;
    max-height: calc(100vh - 227px - 150px);
}
.test-title-cid {
    color: var(--origin-white);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    width: 129px;
}
.test-title-cname {
    color: var(--origin-white);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    width: 362px;
}
.test-title-test-date {
    color: var(--origin-white);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    width: 222px;
}
.test-title-troom {
    color: var(--origin-white);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    width: 173px;
}
.test-title-cstart {
    color: var(--origin-white);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    width: 157px;
}
.test-title-ctime {
    color: var(--origin-white);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    flex: 1;
}

.subject-test {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.test-course-id {
    border-style: solid;
    border-color: var(--origin-grey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 138px;
    position: relative;
}
.test-course-name {
    border-style: solid;
    border-color: var(--origin-grey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 401px;
    position: relative;
}
.test-date {
    border-style: solid;
    border-color: var(--origin-grey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 204px;
    position: relative;
}
.test-col {
    color: var(--origin-black);
    text-align: center;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    align-self: stretch;
    flex: 1;
}
.test-course-name-col {
    color: var(--origin-black);
    text-align: left;
    font-family: var(
            --primary-raleway-medium-font-family
    );
    font-size: var(--primary-raleway-medium-font-size);
    font-weight: var(--primary-raleway-medium-font-weight);
    position: relative;
    align-self: stretch;
    flex: 1;
}
.test-room {
    border-style: solid;
    border-color: var(--origin-grey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 169px;
    position: relative;
}
.test-slot {
    border-style: solid;
    border-color: var(--origin-grey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 164px;
    position: relative;
}
.test-time {
    border-style: solid;
    border-color: var(--origin-grey);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}
/*End View Test Css*/