<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/head :: head">
</head>
<body>
<div class="view">
    <div th:replace="fragment/header :: header"></div>
    <h1>Spring Boot Thymeleaf Example</h1>
    <a th:href="@{auth/login}">Đăng nhập</a>
    <a th:href="@{auth/register}">Đăng ký</a>
    <a th:href="@{/auth/logout}">Đăng xuất</a>
    <button class="button-link-dkmh">Liên kết tài khoản</button>
    <button class="button-reload-data">Cập nhật dữ liệu</button>
</div>


<div th:replace="fragment/script :: script"></div>
<!--Home Script-->
<script type="text/javascript" th:src="@{/user_style/js/homescript.js}"></script>

</body>
</html>