<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/head :: head"></head>
<body>
<div class="view" id="view">
    <div th:replace="fragment/header :: header"></div>
    <div class="date-selection">
        <input type="text" id="to-do-date-picker" readonly />
    </div>
    <div class="calendar-todo">
        <!-- List To-do -->
    </div>
    <div class="to-do-week">
        <!-- List week -->
    </div>
    <div class="page-title">
        <div class="page-title-content">Công việc cần làm</div>
    </div>
</div>
<div th:replace="fragment/script :: script"></div>
<script th:src="@{'https://code.jquery.com/ui/1.12.1/jquery-ui.min.js'}"></script>
<script type="text/javascript" th:src="@{/user_style/js/to-do-script.js}"></script>
</body>
</html>